/* import the fonts */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;800&display=swap");
/* Varibals */
:root {
  --color: #10cab7;
  --color-2: #2c4755;
}
/* important classes */
html{
  scroll-behavior: smooth;
}
/* width */
::-webkit-scrollbar {
  width: 12px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb{
  background: var(--color);
}
::-webkit-scrollbar-thumb:hover{
  background:#2ca9a1d8 ;
}
/* spiceal heading */
.spicel-heading {
  font-size: 90px;
  text-align: center;
  letter-spacing: -4px;
  color: #e4e4e4;
  margin: 0;
  font-weight: 800;
  cursor: default;
}
.spicel-heading + p {
  margin: -30px 0 0 0;
  text-align: center;
  color: #1f1f1f;
}
@media (max-width: 768px) {
  .spicel-heading {
    font-size: 60px;
    letter-spacing: -2px;
  }
  .spicel-heading + p {
    padding-top: 11px;
  }
}
/* important classes */
/* global rules */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
*::selection {
  background-color: var(--color);
  color: #fff;
}
body {
  font-family: "Work Sans", sans-serif;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
/* Small screen */
@media screen and (max-width: 767px) {
  .landing .intro {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* mediem screen */
@media screen and (min-width: 991px) {
  .container {
    width: 970px;
  }
}
/* large screen */
@media screen and (min-width: 1200px) {
  .container {
    width: 1150px;
  }
}
/* End global rules */
/* start style of header */
.header {
  padding: 20px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* L O style img */
.header .logo {
  width: 60px;
  cursor: pointer;
}
.header .links {
  position: relative;
}
.header .links .icon {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 30px;
}
.header .links .icon span {
  width: 100%;
  height: 2px;
  background-color: #333;
  margin-bottom: 5px;
}
.header .links .icon span:nth-child(2) {
  width: 65%;
  height: 2px;
  transition: 0.4s;
}
.header .links .icon:hover.icon span:nth-child(2) {
  width: 100%;
}
.header .links .icon:hover.icon span:nth-child(3) {
  width: 60%;
}
.header .links .icon:hover.icon span:nth-child(3) {
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.header .links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: calc(100% + 15px);
  background-color: #f6f6f6;
  border-radius: 14px;
  min-width: 200px;
  display: none;
  transition: 0.3s;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
}
.header .links ul li a {
  text-transform: capitalize;
  text-decoration: none;
  padding: 15px;
  color: #333;
  display: block;
  transition: 0.3s;
}
.header .links ul li a:hover {
  padding-left: 25px;
  color: #131212;
  font-weight: 600;
}
.header .links ul li:not(:last-child) {
  border-bottom: 1px solid rgb(218, 218, 218);
}
.header .links ul:before {
  top: -19px;
  right: 4.95px;
  position: absolute;
  content: " ";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #f6f6f6 transparent;
}
.header .links .icon:hover ul {
  display: block;
}
/* End  header */
/* Start  landing */
.landing {
  background-image: url(../image/beatenberg-g6dd4c1a9d_1920.jpg);
  background-size: cover;
  height: calc(100vh - 64px);
}
.landing .intro {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 320px;
  line-height: 1.8;
  max-width: 100%;
  transform: translate(50%, 50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(50%, 50%);
  -ms-transform: translate(50%, 50%);
  -o-transform: translate(50%, 50%);
}
.landing .intro h1 {
  text-transform: capitalize;
  text-align: center;
  font-size: 50px;
  margin: 0;
  color: var(--color);
}
.landing .intro p {
  text-align: center;
  font-size: 19px;
}
/* End landing */
/* Start feature style */
.feature {
  padding: 60px 0;
  background-color: #f6f6f6;
}
.feature .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.feature .container .feat {
  text-align: center;
  padding: 20px;
}
.feature .container .feat i {
  color: var(--color);
}
.feature .container .feat h3 {
  font-size: 20px;
  font-weight: 800;
}
.feature .container .feat p {
  line-height: 1.8;
  font-size: 17px;
  color: #777;
}
/* End feature style */
/* Start services */

.services {
  padding-top: 60px;
  padding-bottom: 60px;
}
.services .parent-services {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 100px;
}
.services .parent-services .col .srv {
  display: flex;
  margin-bottom: 40px;
  height: 202px;
}
@media (max-width: 767px) {
  .services .parent-services .col .srv {
    flex-direction: column;
    text-align: center;
  }
}
.services .parent-services .srv i {
  color: var(--color);
  flex-basis: 60px;
}
.services .parent-services .srv .text {
  flex: 1;
}
.services .parent-services .srv h3 {
  margin: 0px;
}
.services .parent-services .srv p {
  font-size: 18px;
  line-height: 1.6;
  font-weight: 300;
  color: #424242;
  margin-left: 5px;
}
.services .parent-services .image {
  position: relative;
  text-align: center;
}
.services .parent-services .image::before {
  content: " ";
  position: absolute;
  height: calc(100% + 100px);
  width: 100px;
  top: -50px;
  right: 0;
  background-color: var(--color-2);
  z-index: -1;
  transition: 0.3s;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.services .parent-services .image img {
  width: 250px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.services .parent-services .image img:hover {
  margin-left: 40px;
}
.services .parent-services .image:hover.image:before {
  width: 120px;
}
@media (max-width: 1201px) {
  .image-hidden {
    display: none;
  }
}
/* End services */
/* Start portfolio */
hr {
  width: 40%;
  text-align: center;
  height: 2px;
  border-color: #f6f6f6;
  background-color: #f6f6f69c;
  border-radius: 50%;
}
.portfolio .container .portfolio-content .text {
  background-color: #ffffff;
  padding: 10px;
  padding-top: 12px;
  border-radius: 15px;
}
@media (max-width: 767px) {
  .portfolio .container .portfolio-content .text {
    width: 370px;
    margin-left: 6px;
  }
}
.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-top: 80px;
  background-color: rgb(246, 246, 246);
}
.portfolio .container .portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 80px;
}
.portfolio .container .portfolio-content .card {
  text-align: center;
}
.portfolio .card img {
  margin: -15px;
  max-width: 100%;
  height: 240px;
  width: 368px;
  border-bottom: 5px solid #fff;
  transition: transform 0.25s;
}
.image-1-1 {
  overflow: hidden;
  border-radius: 15px;
}
.portfolio .card img:hover {
  transform: scale(1.1) rotate(-5deg);
  -webkit-transform: scale(1.1) rotate(-5deg);
  -moz-transform: scale(1.1) rotate(-5deg);
  -ms-transform: scale(1.1) rotate(-5deg);
  -o-transform: scale(1.1) rotate(-5deg);
}
@media screen and (max-width:767px) {
  .image-1-1{
    overflow: initial;
}
  .portfolio .card .image-1-1  img {
    border-radius: 15px;
    transform: none ;
    -webkit-transform: none ;
    -moz-transform: none ;
    -ms-transform: none ;
    -o-transform: none ;
}
}
@media  (min-width:991px) and (max-width: 1201px){

  .portfolio .card img {
    text-align: center;
    margin: -15px;
    max-width: 100%;
    height: 230px;
    width: 350px;
    border-bottom: 5px solid #fff;
    transition: transform 0.25s;
    border-radius: 15px;

  }
  .image-1-1 {
    overflow: initial;
    border-radius: 15px;
  }
  .portfolio .card img:hover {
    transform: scale(1.05) ;
    -webkit-transform: scale(1.05) ;
    -moz-transform: scale(1.05) ;
    -ms-transform: scale(1.05) ;
    -o-transform: scale(1.05) ;
}

}

.portfolio .portfolio-content .card h3 {
  font-weight: bold;
}
.portfolio .portfolio-content .card p {
  line-height: 1.6;
  color: #424242;
}
/* End portfolio */
/* Start about */
.about {
  padding-top: 60px;
  padding-bottom: 60px;
}
.about .about-sec {
  margin-top: 90px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.about .about-sec .image:before {
  border-radius: 15px;
  content: " ";
  height: calc(100% + 80px);
  top: -40px;
  background-color: #e4e4e4;
  position: absolute;
  width: 80px;
  z-index: -1;
  left: -10%;
}
.about .about-sec .image {
  position: relative;
  width: 250px;
  height: 375px;
}
.about .about-sec .image:after {
  border-radius: 15px;
  right: -150px;
  top: -40px;
  width: 120px;
  position: absolute;
  z-index: -1;
  content: " ";
  border-left: 80px solid var(--color);
  height: 300px;
  border-bottom: 80px solid var(--color);
}
@media (max-width: 1100px) {
  .about .about-sec .image:after,
  .about .about-sec .image:before {
    display: none;
  }
  .about .about-sec {
    display: flex;
    flex-direction: column;
  }
  .about .about-sec .image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.about .about-sec .image img {
  border-radius: 15px;
  width: 250px;
  height: 350px;
}
.about .about-sec .text {
  line-height: 1.6;
  flex: 1;
  padding-left: 250px;
}
@media screen and (max-width: 1100px) {
  .about .about-sec .text {
    padding: initial;
    padding-left: 0px;
    text-align: center;
    max-width: 100%;
  }
}
.about .about-sec .text p:first-of-type {
  font-weight: bold;
  font-size: 19px;
}
.about .hr-1 {
  border: 1px solid #f70c0c;
}

/* End about */
/* Start contact */
.contact {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f6f6f6;
}
.contact .container .info {
  padding-top: 60px;
  padding-bottom: 35px;
  text-align: center;
}
.contact .container .info .title {
  font-size: 40px;
  color: var(--color-2);
  font-weight: 800;
  letter-spacing: -1px;
  margin-bottom: 10px;
}
.contact .container .info .contact-basic {
  text-decoration: none;
  color: var(--color);
  font-size: 35px;
  font-weight: 800;
}
@media screen and (max-width: 767px) {
  .contact .container .info .contact-basic {
    font-size: 25px;
  }
  .contact .container .info .title {
    font-size: 25px;
  }
}
.social {
  padding-top: 17px;
  font-size: 18px;
}
.contact .container .info .contact-basic:hover {
  color: #2ca9a1d8;
}
.social i {
  color: var(--color-2);
}
/* End contact */
/* Start footer */
.copy-right {
  padding: 30px 10px;
  background-color: var(--color-2);
  text-align: center;
  font-weight: bold;
  color: #fff;
}
.copy-right span {
  color: var(--color);
}
/* End footer */
